include requirements.txt
recursive-include airtestex/core/android/static *
include airtestex/core/android/static/*/*/*
include airtestex/core/android/static/*/*
include airtestex/core/android/static/stf_libs/minicap-shared/aosp/libs/*/*/*.*

include airtestex/report/*.html
include airtestex/report/*/*.*
include airtestex/report/*/*/*.*